canvas {
  border: 1px solid #000000;
}

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popover {
	max-width: 600px;
	max-height: 600px;
	width: auto;
}

.selected {
	font-weight: bold;
}